/* 기본 버튼 */
.btn-Shape{
    /* 버튼모양 */
    border-radius: 10px;
    color: #fff;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    /* moz-transition: all 0.4s ease-in-out; */
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    cursor: pointer;
}


.btn-Shape:hover {
    background-position: 100% 0;
    /* moz-transition: all 0.4s ease-in-out; */
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;  
}

.btn-Size-300{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
}